#skuTable{
	float: left;
	margin-left: -1%;
}
#dropTbl{
	float: right;
	height: 100%;
	width: 100%;
	
}
#imgDrop{
	height: 80%;
	width: 100%;
	margin-top: 3%;
	border-style: dashed;
	text-align: center;
	line-height: 300px;
}
