body{
	background-image: url('../site images/background.jpg');
	background-repeat: no-repeat;
}
#form-container{
	width: 30%;
	height: 500px;
	margin-top: 10%;
	background-color: rgb(86,87,89,0.6);
	border-radius: 5px;
	

}
form{
	
}
form .form-control{
	margin-top: 2%;
	text-align: center;
	opacity: 1.0 !important;
}
form .btn-secondary{
	margin-top: 4% !important;
	width: 100%;
	opacity: 1.0 !important;
}
form img{
	max-width: 100% !important;
	height: auto;
	width: 100%;
	margin-top: 2%;
	margin-bottom: 35%;
	opacity: 1.0 !important;
}